@charset "utf-8";
/* New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Tutorial Case
   Author: keithc   
   Date:   4.5.24  
   Filename: tf_print.css
   This file contains the printer styles used with the Trusted
   Friends page on articles of interest     */

/* Hidden Objects */
/*removes certain elements (on articles page) for printing*/
nav.horizontal, aside, footer { display: none }

/* Page Box Styles */
/*printing code includes physical-type measurements(ie inches)*/
@page {
   size: 8.5in 11in;
   margin: 0.5in;  }


/* Header Styles */
body > header { text-align: right; }

body > header > img {
   display: block;
   width: 100%;     }


/* Typography Styles */
h1 {
   /*pt is a measur. of text when printing*/font-size: 28pt;
   line-height: 30pt;
   /*top,right,bottom,L assumes R*/margin: 0.3in 0in 0.2in; }

h2 {
    font-size: 20pt;             
    margin: 0.1in 0in 0.1in 0.3in; }

p { font-size: 12pt;
    margin: 0.1in 0in 0.1in 0.3in; }


/* List Styles */
ul { list-style-type: disc;
    margin-left: 0.5in; } 


/* Image Styles */
/*this targets the 2 child images(not the logo img)*/ 
article img { 
/*width/style/color*/border: 2px solid rgb(191 191 191);
                     display: block;
/*auto will center L-R within parent*/margin:0.25in auto; 
                     width: 65% }


/* Hypertext Styles */
/*targets remaining hyperlinks scattered throughout page*/
a { color: black;
    text-decoration: none; }

/*grabs imbedded links(address's) and displays them just after the remaining hyperlinks*/
a::after {
   content: " (" attr(href) ") ";   
/*so the adresses stand out*/font-weight: bold;
word-wrap: break-word;}/*only other available value is 'normal'*/ 


/* Page Break Styles */
/*targets the  second <article> under the <section>, you could use last-of-type, but bc you cant guarantee the futre of the document, its better to use the nth-of-type*/
article:nth-of-type(n+2) { page-break-before: always;   } 

img, ol, ul { page-break-inside: avoid; }

p { orphans: 3;
    widows: 3;  } 








	





